#contenidos{
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
    
}


body{
    background:#fff;
    /*background-image: url(../img/anime/best.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;

}

#scrollUp {
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background:  url(../img/ir-arriba.png);
    background-size: cover;
  }



nav{
    /*width: 1000px;
    height: 50px;
    background: red;*/
    border-radius: 10px;
    /*margin-top: 20px;*/
}

/*ul{
    margin: auto;
    padding-top: 4px;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    margin: 3px;
    background: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px white inset;
}*/

section{
    width: 800px;
    height: 100%;
    background: rgb(230, 225, 225);
    float: left;
    border-radius: 10px;
    margin-top: 20px;
}

article{
    width: 97.5%;
    height: 100%;
    background: #fff;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    
}

article img{
    width: 400px; 
    float:left; 
    margin:10px;
    text-align: left;
    border-radius: 10px;
}

article p,h3,b{
    margin-left: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article p,h2{
    margin-left: 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*.segundo{
    width: 780px;
    height: 150px;
    background: coral;
    margin-left: 10px;
    margin-right: 10px;
}*/


.poco{
    display: inline-block;
    text-align: center;
}



.segundo img{
    width: 100px;
    margin-bottom: 10px;
    border-radius: 10px;
}

aside{
    width: 300px;
    background: rgb(230, 225, 225);
    height: 830px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    
}

aside div img{
    width: 103px;
    height: 150px;
    margin: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    
    
}

aside div p{
    color: black;
}

.redes{
    width: 90px;
    margin: auto;
}

.social-item{
    display: inline-block;

}

.redes .social-item img{
    width: 20px;
    height: 20px;
}

footer{
    width: 100%;
    height: 40px;
    background:rgb(44, 43, 43);
    float: left;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    color:gray;

}


.container-icons{
    position: relative;
    bottom: 10px;
}

.row-icon{
    display: contents;
    justify-content: flex-end;
}


/*clases*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white}
.menu:active{color: white; text-decoration: none;}